<div id="body-item" class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">

          <div class="col-md-12 d-flex justify-content-center mt-3">
            <img [src]="logo" alt="">
          </div>

          <div class="col-md-12 d-flex justify-content-center">
            <h4>Login: Admin</h4>
          </div>

          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email">
              </div>
            </div>

            <div class="col-md-9 mx-auto">
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              </div>
            </div>
          </div>

          <div id="button-login" class="d-flex justify-content-center">
            <button type="button" class="btn btn text-light">Login</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
