<div id="body-item" class="container-fluid">
  <div class="row">
    <main id="main" class="mx-auto">

      <div id="cs-body" class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-11">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="accordion" id="accordionExample">

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to
                    the <code>.show</code> class.
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-1" id="accordionExample">
              <button id="headingOne" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-sort-down"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="cs-body" class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-11">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="accordion" id="accordionExample">

                <div id="collapseOne-1" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to
                    the <code>.show</code> class.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1" id="accordionExample">
              <button id="headingOne" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                <i class="fas fa-sort-down"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div id="cs-body" class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-11">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="accordion" id="accordionExample">

                <div id="collapseOne-2" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to
                    the <code>.show</code> class.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1" id="accordionExample">
              <button id="headingOne" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                <i class="fas fa-sort-down"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div id="cs-body" class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-11">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="accordion" id="accordionExample">

                <div id="collapseOne-3" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to
                    the <code>.show</code> class.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1" id="accordionExample">
              <button id="headingOne" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                <i class="fas fa-sort-down"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div id="cs-body" class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-11">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="accordion" id="accordionExample">

                <div id="collapseOne-4" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to
                    the <code>.show</code> class.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1" id="accordionExample">
              <button id="headingOne" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne-4">
                <i class="fas fa-sort-down"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <!-- pagination -->
      <app-pagination></app-pagination>

    </main>
  </div>
</div>
