<div>
  <div id="sidebarMenu" class="d-md-block sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <p class="h5 text-light">
          Top 5 Topics <i class="fas fa-fire-alt mr-3 ml-2"></i>  <i class="fas fa-fire-alt"></i>
        </p>
      </ul>
      <div class="card">
        <div class="card-body">How to Buy Iphone?</div>
      </div>
      <div class="card mt-2">
        <div class="card-body">Iphone12 : Spectification</div>
      </div>
      <div class="card mt-2">
        <div class="card-body">Can I purchase stock directly from Apple?</div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          Where can I get information on the company?
        </div>
      </div>
      <div class="card mt-2 mb-2">
        <div class="card-body">Who are Apple’s independent auditors?</div>
      </div>
    </div>
    <div>
      <ul class="nav flex-column mt-4">
        <p class="h5 text-light">Category <i class="fas fa-book-open mr-3 ml-2"></i> <i class="fas fa-book-open"></i></p>
      </ul>
      <div id="card-item" class="card mb-2">
        <div class="card-body row justify-content-center">
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Lightvvvvvvvvvvvttt</button>
          <button class="btn btn-light">Lightttttt</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
          <button class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div id="a"></div>
  </div>
</div>
