<!-- pagination -->
<nav class="col-md-9 ml-sm-auto col-lg-5 px-md-4 mx-auto" aria-label="Page navigation example">
  <ul class="pagination">

    <li class="page-item disabled">
      <a id="a" class="page-link" href="#" tabindex="-1" aria-disabled="true">Start</a>
    </li>

    <li class="page-item">
      <a id="b" class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item"><a id="b" class="page-link" href="#">1</a></li>
    <li class="page-item"><a id="b" class="page-link" href="#">2</a></li>
    <li class="page-item"><a id="b" class="page-link" href="#">3</a></li>

    <li class="page-item">
      <a id="b" class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

    <li class="page-item">
      <a id="c" class="page-link" href="#">End</a>
    </li>

  </ul>
</nav>
